In [1]:
import sklearn
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
from sklearn.metrics import mean_absolute_error

# Reading the Input File

In [2]:
data=pd.read_csv('melb_data.csv')
data.dropna(axis=0)
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [3]:
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [4]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
feature_names=['Landsize','Rooms','Bedroom2','Bathroom','Lattitude','Longtitude']
X=data[feature_names]

In [6]:
X.head()

   Landsize  Rooms  Bedroom2  Bathroom  Lattitude  Longtitude
0     202.0      2       2.0       1.0   -37.7996    144.9984
1     156.0      2       2.0       1.0   -37.8079    144.9934
2     134.0      3       3.0       2.0   -37.8093    144.9944
3      94.0      3       3.0       2.0   -37.7969    144.9969
4     120.0      4       3.0       1.0   -37.8072    144.9941

In [7]:
y=data.Price

# Decision Tree Regressor

In [8]:
from sklearn.tree import DecisionTreeRegressor
melbourne_model=DecisionTreeRegressor(max_leaf_nodes=100,random_state=1)
melbourne_model.fit(X,y)
melb_prediction1=melbourne_model.predict(X)
val_maedtr=mean_absolute_error(melb_prediction1,y)
print('Validation MAE for Decision Tree Regressor is :',val_maedtr)

Validation MAE for Decision Tree Regressor is : 219152.74144897278

In [9]:
print('Prediction prices for the first five houses are :')
print(X.head())

melbourne_model.predict(X.head())

Prediction prices for the first five houses are :
   Landsize  Rooms  Bedroom2  Bathroom  Lattitude  Longtitude
0     202.0      2       2.0       1.0   -37.7996    144.9984
1     156.0      2       2.0       1.0   -37.8079    144.9934
2     134.0      3       3.0       2.0   -37.8093    144.9944
3      94.0      3       3.0       2.0   -37.7969    144.9969
4     120.0      4       3.0       1.0   -37.8072    144.9941

array([1271061.74050633, 1271061.74050633, 1394841.93548387,
       1079402.5974026 , 1791424.61538462])

# Random Forest Regressor

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [11]:
train_X,val_X,train_y,val_y=train_test_split(X,y,random_state=1)

forest_model=RandomForestRegressor(random_state=1)
forest_model.fit(train_X,train_y)
melb_predictions=forest_model.predict(val_X)

val_maerar=mean_absolute_error(val_y,melb_predictions)
print("Validation MAE for RFR is ",val_maerar)

Validation MAE for RFR is  180515.9688541038

In [12]:
print('Prediction prices for the first five houses are :')
print(X.head())
melb_predictions

Prediction prices for the first five houses are :
   Landsize  Rooms  Bedroom2  Bathroom  Lattitude  Longtitude
0     202.0      2       2.0       1.0   -37.7996    144.9984
1     156.0      2       2.0       1.0   -37.8079    144.9934
2     134.0      3       3.0       2.0   -37.8093    144.9944
3      94.0      3       3.0       2.0   -37.7969    144.9969
4     120.0      4       3.0       1.0   -37.8072    144.9941

array([1839890. ,  830650. , 2453945. , ..., 1319210. , 1287550. ,
        528842.5])

# Difference between the two approaches
As we can figure out that the mean value error in the RandomForestRegressor is much lower as compared to that of DecisionTreeRegressor. Therefore, we will use the RandomForestRegressor approach in the final prediction.

In [13]:
print("Mean absolute error - Decision Tree Regressor Approach : ",val_maedtr)
print("Mean absolute error - Random Forest Regressor Approach : ",val_maerar)

Mean absolute error - Decision Tree Regressor Approach :  219152.74144897278
Mean absolute error - Random Forest Regressor Approach :  180515.9688541038

# Output File

In [14]:
rf_model_on_full_data = RandomForestRegressor(random_state=1)
rf_model_on_full_data.fit(train_X,train_y)

RandomForestRegressor(random_state=1)

In [15]:
test_data=pd.read_csv('melb_data.csv')
test_X=data[feature_names]
test_preds =rf_model_on_full_data.predict(test_X)
output = pd.DataFrame({
                       'SalePrice': test_preds})
output.to_csv('Predictions.csv', index=False)